@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* Header section */
section header#header {
  display: flex;
  justify-content: space-around;
  padding: 0.55rem;
  position: relative;
  z-index: 1;
  background-color: white;
}

section header#header img {
  max-width: 100%;
  height: auto;
}

section header#header button#hamburger {
  display: none;
}

section header#header ul {
  display: flex;
  align-items: center;
}

section header#header ul li {
  list-style: none;
  padding: 0 0.78rem;
}

li::after {
  content: " ";
  position: absolute;
  width: 3rem;
  height: 0.15rem;
  bottom: -0.77rem;
  right: 0.51rem;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
}

section header#header ul li:hover {
  position: relative;
}

section header#header ul li a {
  text-decoration: none;
  color: var(--grayish-blue);
}

section header#header ul li:hover a {
  color: black;
}

button.invite-btn {
  padding: 0.42rem 1rem;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  border-radius: 2.5rem;
  border: none;
  color: var(--white);
  cursor: pointer;
}

button.invite-btn:hover {
  background: linear-gradient(to left, var(--lime-green), var(--bright-cyan));
}

/* landing area */
section#lan-sec {
  background-color: var(--very-light-gray);
}

section div#landing-sec {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

section div#landing-sec div.box-1 {
  flex: 1 0 40%;
  padding: 3rem 0rem 3rem 7rem;
}

section div#landing-sec div.box-1 h1 {
  padding-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: lighter;
}

section div#landing-sec div.box-1 p {
  padding-bottom: 1rem;
}

p {
  color: var(--grayish-blue);
  font-size: 0.8rem;
}

section div#landing-sec div.box-2 {
  flex: 1 0 60%;
}

section div#landing-sec div.box-2 :first-child {
  width: 100%;
  height: 28rem;
  transform: scale(1.6);
  overflow: hidden;
  position: relative;
  top: -2.5rem;
  left: 13rem;
}

section div#landing-sec div.box-2 :last-child {
  position: absolute;
  height: 43rem;
  left: 42rem;
  top: -4rem;
}

/* section-3 */
section div#sec-3 {
  padding: 4rem 7rem 2rem 7rem;
  background-color: var(--light-grayish-blue);
}

section div#sec-3 h1 {
  padding-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: lighter;
}

section div#sec-3 div#wrapper {
  display: flex;
  margin: 2rem 0;
}

section div#sec-3 div#wrapper div > img {
  padding: 0.8rem 0;
}

section div#sec-3 div#wrapper div > h2,
p {
  padding: 0.88rem 0;
}

section div#sec-3 div#wrapper div > h2 {
  font-size: 1.1rem;
  font-weight: normal;
}

section div#sec-3 div#wrapper > * + * {
  padding-left: 2rem;
}

/*section-4 */
section#sec-4 {
  background-color: var(--very-light-gray);
  padding: 3rem 7rem;
}

section#sec-4 > h1 {
  padding: 1rem 0 2rem 0;
  font-weight: normal;
}

section#sec-4 div#sec-4-block > * + * {
  margin-left: 0.88rem;
}
section#sec-4 div#sec-4-block {
  display: flex;
}

section#sec-4 div.block img {
  width: 13rem;
  height: 8rem;
}

section#sec-4 div.block > h4 {
  font-size: medium;
  font-weight: lighter;
}

/* footer */
footer {
  background-color: var(--dark-blue);
  padding: 2rem 7rem;
}

footer div#footer-sec {
  display: flex;
  justify-content: space-between;
}

footer div#footer-sec div > div#social-icons {
  padding-top: 2rem;
}

footer div#footer-sec div > ul > li {
  padding-bottom: 0.55rem;
  color: var(--grayish-blue);
  list-style: none;
  font-size: 0.88rem;
}

@media (max-width: 756px) {
  html {
    font-size: 14px;
    overflow-x: hidden;
  }

  section#sec-1 header#header {
    height: 3.5rem;
    position: fixed;
    width: 100vw;
    display: block;
  }

  section#sec-1 header#header ul {
    flex-direction: column;
    position: relative;
    top: 3rem;
    right: 50%;
    transform: translateX(-50%);
    padding: 1rem 0;
    border-radius: 0.88rem;
    box-shadow: 2px 17px 35px -3px rgba(0, 0, 0, 0.7);
    width: 70%;
    background-color: rgb(244, 250, 248);
    transition: all 0.2s linear;
  }

  section#sec-1 header#header ul.nav-item {
    right: -50%;
    transition: all 0.2s linear;
  }

  section#sec-1 header#header ul li {
    padding: 0.77rem;
    font-size: 1.5rem;
  }

  li::after {
    position: static;
  }
  section#sec-1 header#header ul li a {
    color: black;
  }

  button.invite-btn.invite-btn-mb {
    display: none;
  }

  section header#header button#hamburger {
    display: block;
    outline: none;
    padding: 0.8rem;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.6rem 1.5rem;
    border-radius: 0.22rem;
  }

  section div#landing-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  section div#landing-sec div.box-1 {
    flex: 0 0 100%;
    order: 2;
    padding: 4rem;
    text-align: center;
  }

  section div#landing-sec div.box-2 {
    flex: 0 0 100%;
  }

  section div#landing-sec div.box-2 :first-child {
    height: 33rem;
    transform: scale(1.5);
    position: relative;
    top: -4.5rem;
    left: 1.8rem;
    width: 100vw;
    padding: 0;
  }

  section div#landing-sec div.box-2 :last-child {
    position: absolute;
    height: 43rem;
    left: 0.45rem;
    width: 100vw;
    top: -6rem;
  }
  /* sec-3 */
  section div#sec-3 {
    padding: 4rem 6rem 2rem 4rem;
  }

  section div#sec-3 div#wrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  section div#sec-3 div#wrapper > div {
    text-align: center;
    margin-bottom: 1rem;
  }
  section div#sec-3 div#wrapper > * + * {
    padding-left: 0;
  }

  /* sec-4 */
  section#sec-4 {
    text-align: center;
  }

  section#sec-4 div#sec-4-block {
    display: flex;
    flex-direction: column;
  }

  section#sec-4 div#sec-4-block > div {
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
  }

  section#sec-4 div#sec-4-block > * + * {
    margin-left: 0;
  }

  /* footer */
  footer div#footer-sec {
    display: flex;
    flex-direction: column;
  }
  
  footer div#footer-sec > div {
    margin-bottom: 3rem;
    text-align: center;
  }

  footer div#footer-sec > div > ul li {
    padding: 0.55rem;
    font-size: large;
  }

  footer div#footer-sec > div > p {
    padding-bottom: 3rem;
  }
}
